@import "../../../node_modules/bulma/sass/elements/form.sass";

@import "../../../node_modules/bulma/sass/components/card.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";

.card{
    margin-top : 20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    width:700px;
    height:100%;
    
}






.title{
    font-family:"Comic Sans MS", cursive, sans-serif;

  
    font-size: 1.5em;
    color:rgb(15, 134, 189);
}