

@import "../../../node_modules/bulma/sass/components/card.sass";
@import "../../../node_modules/bulma/sass/elements/image.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";

@import "../../../node_modules/bulma/sass/elements/table.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/elements/form.sass";
.label{
    font-family:"Comic Sans MS", cursive, sans-serif;

  
    font-size: 1.5em;
    color:rgb(15, 134, 189);
}


#nom{
    font-family:"Comic Sans MS", cursive, sans-serif;

  
    font-size: 1.5em;
    color:rgb(15, 134, 189);
    margin-top:30px;
    //padding-left=""
   
  }

/*.container{
  background-color:rgb(236, 236, 236);
}*/
.column p {
  //margin-left:50px;
  //padding-left:auto;
  //padding-right:auto;
  //background: rgba(0, 0, 0, 0.6);
  //color: #fff;
}

.center{
    margin-top:20px;
    margin-left:30%;
}




.card{

  width:40%;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  -webkit-box-shadow: -30px 30px 30 -12px rgba(0,0,0,1);
-moz-box-shadow: -30px 30px 30px -12px rgba(0,0,0,1);
box-shadow: -30px 30px 30px -12px rgba(0,0,0,1);

  
}

table{

  padding-left:20%;
 
  font-family: "Comic Sans MS", cursive, sans-serif;
}
